.note.new {
    background-color: #67d7cc;
}

textarea{
    border: none;
    resize: none;
    background-color: #67d7cc;
}

textarea:focus{
    outline: none;  
}

.save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.save:hover{
    background-color: #ededed;
    cursor: pointer;
}

.note {
    background-color: #acc3ff;
    border-radius: 10px;
    padding: 1rem; /*relative to font size*/
    min-height: 170px;
    /*Create a flex box to position children of note class
    in a certain order. We define direction and justify content to be column so it is vertical*/
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    white-space: pre-wrap;
    
}
.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container { 
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.search {
    display: flex; 
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}

.search-input{
    border: none;
    background-color: transparent;
    color: black;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
}
